SFA-AVATAR-AUT_V2.json
{
  "name": "SFA-AVATAR-AUT.",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "6ad4bf94-3eda-4193-9880-a74d260dc62d",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        976
      ],
      "webhookId": "sfa-video-overlay-webhook",
      "credentials": {
        "telegramApi": {
          "id": "Va6rOMJoxTIgb33n",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "e8b3abef-c4e6-4ee1-9e7b-eeac80707cb3",
      "name": "Check Video Message",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1056,
        976
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $credentials.telegramApi.accessToken }}/getFile?file_id={{ $json.message.video.file_id }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "e3069093-91ab-4a8b-836d-c89d46509470",
      "name": "Get Video File Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -848,
        976
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{ $credentials.telegramApi.accessToken }}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "14d6ef97-79d2-4a8a-8d8e-ee86440b4cad",
      "name": "Download Input Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -624,
        976
      ]
    },
    {
      "parameters": {
        "jsCode": "// Procesar mensaje de Telegram con video + indicaciones\nconst messageData = $input.first().json;\nlet instructions = '';\n\n// Obtener caption o texto del mensaje\nif (messageData.message.caption) {\n  instructions = messageData.message.caption;\n} else if (messageData.message.text) {\n  instructions = messageData.message.text;\n} else {\n  instructions = 'Sin instrucciones específicas';\n}\n\n// Configuración para SFA con video overlay\nconst config = {\n  avatar_id_empleado: \"REEMPLAZAR_CON_AVATAR_ID_REAL\",\n  empleado_nombre: \"Facundo Gorosito\",\n  whatsapp_phone_id: \"REEMPLAZAR_CON_PHONE_ID_REAL\",\n  julieta_phone_number: \"549341XXXXXXX\", // Número de Julieta\n  video_instructions: instructions,\n  input_video_file_id: messageData.message.video.file_id,\n  user_id: messageData.message.from.id,\n  chat_id: messageData.message.chat.id,\n  timestamp: new Date().toISOString()\n};\n\nreturn { json: config };"
      },
      "id": "28dabe9b-526e-4e29-88d7-440850fa6b17",
      "name": "Process Video Instructions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        976
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-pro:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "0d9eeabc-b9cc-4fd4-a1c3-a8bf6d2f1638",
      "name": "Generate Overlay Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        976
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "gI1EoIqxPrhxuVcg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extraer script generado por Gemini\nconst geminiResponse = $input.first().json;\nlet script = '';\n\ntry {\n  if (geminiResponse.candidates && geminiResponse.candidates[0]) {\n    script = geminiResponse.candidates[0].content.parts[0].text;\n  } else {\n    script = 'Error: No se pudo generar el script';\n  }\n} catch (error) {\n  script = 'Error procesando respuesta de Gemini';\n}\n\n// Limpiar script para avatar\nscript = script.replace(/\\n/g, ' ').trim();\n\n// Obtener datos previos\nconst previousData = $('Process Video Instructions').first().json;\n\nreturn {\n  json: {\n    ...previousData,\n    overlay_script: script\n  }\n};"
      },
      "id": "5d35a8f0-3ed4-4b3d-96f0-875a75b93e84",
      "name": "Extract Overlay Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        976
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "raw",
              "value": "{ \"video_inputs\": [ { \"character\": { \"type\": \"avatar\", \"avatar_id\": \"Angela-inTshirt-20220820\", \"avatar_style\": \"normal\" }, \"voice\": { \"type\": \"text\", \"input_text\": \"Hola, esta es una prueba desde n8n\", \"voice_id\": \"1bd001e7e50f421d891986aad5158bc8\", \"speed\": 1.0 }, \"background\": { \"type\": \"color\", \"value\": \"#00FF00\" } } ], \"dimension\": { \"width\": 1280, \"height\": 720 } }"
            }
          ]
        },
        "options": {}
      },
      "id": "ce8b5bf4-7c5c-4fc0-896e-5399319fb636",
      "name": "Generate Avatar Video Green Screen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        976
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "X3LVBPkloZIlJWYu",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "ee791662-f7a1-41a6-95af-ecc0627951c1",
      "name": "Wait for Avatar Render",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        480,
        976
      ],
      "webhookId": "54d34f53-4793-4452-bc3c-5a93f50a8891"
    },
    {
      "parameters": {
        "url": "=https://api.heygen.com/v1/video_status/{{ $('Generate Avatar Video Green Screen').first().json.video_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "heyGenApi",
        "options": {}
      },
      "id": "00b64cf9-58a2-42e1-bf85-013b5a3775c5",
      "name": "Check Avatar Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        976
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.video_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "e9832868-4c64-4ffe-b907-4549a6178472",
      "name": "Download Avatar Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        976
      ]
    },
    {
      "parameters": {},
      "id": "c8edb456-055f-47b5-9e79-ec5b4727cf1c",
      "name": "Overlay Videos with FFmpeg",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1152,
        976
      ]
    },
    {
      "parameters": {
        "name": "=SFA_VideoOverlay_{{ $('Process Video Instructions').first().json.timestamp.split('T')[0] }}_{{ new Date().getTime() }}.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "c0cc8344-b1b2-4a51-87d8-cbf5be70dfe6",
      "name": "Upload Final Video",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1360,
        976
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "share",
        "fileId": "={{ $json.id }}",
        "permissionsUi": {},
        "options": {}
      },
      "id": "159c52d0-676a-4905-ac36-e4e961eb7106",
      "name": "Share Final Video",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1584,
        976
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Process Video Instructions').first().json.whatsapp_phone_id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppBusinessApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "eecb3e9c-7168-4b79-b558-447b8e96cf88",
      "name": "Send WhatsApp Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1808,
        976
      ]
    },
    {
      "parameters": {},
      "id": "ee988e6b-8298-4c1b-8c5f-a34ab9ec2119",
      "name": "Cleanup Temp Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2032,
        976
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check Video Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Message": {
      "main": [
        [
          {
            "node": "Get Video File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video File Info": {
      "main": [
        [
          {
            "node": "Download Input Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Input Video": {
      "main": [
        [
          {
            "node": "Process Video Instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Video Instructions": {
      "main": [
        [
          {
            "node": "Generate Overlay Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Overlay Script": {
      "main": [
        [
          {
            "node": "Extract Overlay Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Overlay Script": {
      "main": [
        [
          {
            "node": "Generate Avatar Video Green Screen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Avatar Video Green Screen": {
      "main": [
        [
          {
            "node": "Wait for Avatar Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Avatar Render": {
      "main": [
        [
          {
            "node": "Check Avatar Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Avatar Status": {
      "main": [
        [
          {
            "node": "Download Avatar Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Final Video": {
      "main": [
        [
          {
            "node": "Share Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share Final Video": {
      "main": [
        [
          {
            "node": "Send WhatsApp Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "867ff55b-0340-47e2-b617-f3aa3d591645",
  "meta": {
    "instanceId": "041c8d97fca2658ab433422545b5ba66f1d350fb8ef3af00cd046515e2b00d04"
  },
  "id": "jAC8V8qEv7uBhiQH",
  "tags": []
}